[global.config]
  as = {{ AS_NUMBER }}
  router-id = "{{ ROUTER_ID }}"
  port = {{ LISTEN_PORT }}
  
{% if PEERS is defined -%}
{%   for PEER in PEERS %}

[[neighbors]]
  [neighbors.config]
    neighbor-address = "{{ PEER.ADDRESS }}"
    peer-as = {{ PEER.AS_NUMBER }}
    local-as = {{ AS_NUMBER }}

{%  if PEER.REMOTE_PORT is defined -%}
  [neighbors.transport.config]
    remote-port = "{{ PEER.REMOTE_PORT }}"
{%  endif %}
{%    for AFI_SAFI in PEER.AFI_SAFIS %}
  [[neighbors.afi-safis]]
    [neighbors.afi-safis.config]
      afi-safi-name = "{{ AFI_SAFI.NAME }}"
{%    endfor %}

{%    if PEER.ROUTE_REFLECTOR_CLIENT is defined and PEER.ROUTE_REFLECTOR_CLIENT -%}
  [neighbors.route-reflector.config]
    route-reflector-client = true
{%      if PEER.ROUTE_REFLECTOR_CLUSTER_ID is defined %}
    route-reflector-cluster-id = "{{ PEER.ROUTE_REFLECTOR_CLUSTER_ID }}"
{%      endif %}
{%    endif %}
{%   endfor %}
{% endif %}

{% if DYNAMIC_PEERS is defined -%}
{%   for DYNAMIC_PEER in DYNAMIC_PEERS %}
[[peer-groups]]
  [peer-groups.config]
    peer-group-name = "{{ DYNAMIC_PEER.NAME }}"
    peer-as = {{ DYNAMIC_PEER.AS_NUMBER }}

{%  if DYNAMIC_PEER.REMOTE_PORT is defined -%}
  [peer-group.transport.config]
    remote-port = "{{ DYNAMIC_PEER.REMOTE_PORT }}"
{%  endif %}
{%     for AFI_SAFI in DYNAMIC_PEER.AFI_SAFIS %}
  [[peer-groups.afi-safis]]
    [peer-groups.afi-safis.config]
      afi-safi-name = "{{ AFI_SAFI.NAME }}"
{%     endfor %}

  [peer-groups.route-reflector.config]
    route-reflector-client = true
{%     if DYNAMIC_PEER.ROUTE_REFLECTOR_CLUSTER_ID is defined %}
    route-reflector-cluster-id = "{{ DYNAMIC_PEER.ROUTE_REFLECTOR_CLUSTER_ID }}"
{%     endif %}

[[dynamic-neighbors]]
  [dynamic-neighbors.config]
    prefix = "{{ DYNAMIC_PEER.CLIENT_RANGE }}"
    peer-group = "{{ DYNAMIC_PEER.NAME }}"
{%   endfor %}
{% endif %}
