[global.config]
  as = {{ AS_NUMBER }}
  router-id = "{{ ROUTER_ID }}"
{% for PEER in PEERS %}

[[neighbors]]
  [neighbors.config]
    neighbor-address = "{{ PEER.ADDRESS }}"
    peer-as = {{ PEER.AS_NUMBER }}
    local-as = {{ AS_NUMBER }}

{%  for AFI_SAFI in PEER.AFI_SAFIS %}
  [[neighbors.afi-safis]]
    [neighbors.afi-safis.config]
      afi-safi-name = "{{ AFI_SAFI.NAME }}"
{%  endfor %}

{%  if PEER.ROUTE_REFLECTOR_CLIENT is defined and PEER.ROUTE_REFLECTOR_CLIENT -%}
  [neighbors.route-reflector.config]
    route-reflector-client = true
{%    if PEER.ROUTE_REFLECTOR_CLUSTER_ID is defined %}
    route-reflector-cluster-id = "{{ PEER.ROUTE_REFLECTOR_CLUSTER_ID }}"
{%    endif %}
{%  endif %}
{% endfor %}